<mat-grid-list cols="20" class="mygridlist" rowHeight="fit">
    <mat-grid-tile  class="zoekentile" colspan="20" rowspan="2">
        <input class="zoekbalk" type="zoeken" placeholder="Zoeken..." required>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="20">
        <div class="container">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="20">
        <div class="container">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
            <img class="mainlogo" src="assets/artistifyLogo.jpg">
        </div>
    </mat-grid-tile>
</mat-grid-list>