.container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    grid-gap: 2vh;
    height: 75vh;
    width: 45vw;
    align-items: start;
    overflow-y: scroll;
}

.item {
    min-width: none;
}

.mygridlist {
    height: 100%;
}

.zoekbalk {
    height: 25px;
    width: 70vw;
}

.zoekbutton {
    height: 30px;
    width: 10vw;
}

img {
    max-width: 120px;
}

.songbutton {
    width: 120px;
    height: 120px;
}

.albumbutton {
    width: 120px;
    height: 120px;
    background:none;
    border: none;
}
