<mat-grid-list cols="10" class="mygridlist" rowHeight="fit">
    <mat-grid-tile colspan="5" class="gridTile">
        <button class="button">Favorieten</button> 
    </mat-grid-tile>
    <mat-grid-tile colspan="5" class="gridTile">
        <button class="button">Genres</button> 
    </mat-grid-tile>
    <mat-grid-tile colspan="5" class="gridTile">
        <button class="button">Playlists</button> 
    </mat-grid-tile>
    <mat-grid-tile colspan="5" class="gridTile">
        <button class="button">Recent</button> 
    </mat-grid-tile>
</mat-grid-list>