.button {
    font-size: 50px;
    min-width: 280px;
    min-height: 80px;
    width: 30vw;
    height: 20vh;
}

.button:hover{
    background-color: #dfdddd;
    color: rgb(0, 0, 0);
}

.mygridlist {
    /* height: 85vh; */
    height: 100%;
}