<body>
    <div class="loginscreen">
        <mat-grid-list cols="13" rows="30" class="mygridlist" rowHeight="fit">
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="10" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="10" [style.background]="'black'">
                <div>
                    <label class="item">E-mail </label>
                    <input class="item" type="email" placeholder="E-mail" required>
                    <br>
                    <br>
                    <label class="item">Confirm e-mail </label>
                    <input class="item" type="confirmemail" placeholder="Confirm e-mail" required>
                    <br>
                    <br>
                    <label class="item">Password </label>
                    <input class="item" type="password" placeholder="Password" required>
                    <br>
                    <br>
                    <label class="item">Confirm password </label>
                    <input class="item" type="confirmpassword" placeholder="Confirm password" required>
                    <br>
                    <br>
                    <button class="registerbutton">REGISTER</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="10" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="10" [style.background]="'black'">
                <div>
                    <label class="item">E-mail </label>
                    <input class="item" type="emailexisting" placeholder="E-mail" required>
                    <br>
                    <br>
                    <label class="item">Password </label>
                    <input class="item" type="passwordexisting" placeholder="Password" required>
                    <br>
                    <br>
                    <button class="loginbutton" (click)="loginClicked()">LOGIN</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="10" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="5" rowspan="5" >
            </mat-grid-tile>
            <mat-grid-tile class="bottombar" colspan="1" rowspan="5" >
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>