.loginscreen {
    height: calc(100vh);
    background-color: rgb(114, 67, 49);
  }

html, body {
    height: 100%;
    margin: 0;
}

.mygridlist {
    height: 100%;
    position: relative;
}

label {
    color: white;
    width: 120px;
    display: block;
    font-size: large
}

input {
    font-size: large;
    width: 25vw;
}
