html, body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
}

.mainscreen {
  background-color: rgb(114, 67, 49);
  height: calc(100vh - 50px - 50px);
  overflow-y: scroll;

  margin: 0 auto;
}

.mainscreen::after {
  content: "";
  display: block;
}

.audioplayer {
  height: 50px;
}

div.invisible {
  display: none;
}

.hide {
  display: none;
}