<!-- <div [ngClass]="{hide: visible, show: !visible}">
    <app-login (exampleOutput)="exampleMethodParent($event)"></app-login>
</div> -->
<div class="container">
    <header>
        <div class="header">
            <app-navigationbuttons></app-navigationbuttons>
        </div>
    </header>

    <main>
        <div class="mainscreen">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <div class="audioplayer">
            <app-music-player></app-music-player>
        </div>
    </footer>
</div>