<div class="container">
    <div class="toprow">
        <app-navigationbuttons></app-navigationbuttons>
    </div>

    <body>
    <div class="mainscreen">
        <router-outlet></router-outlet>
    </div>
    </body>

    <div class="bottomrow">
        <mat-grid-list cols="10" rowHeight="{{desired_rowHeight}}" gutterSize="0">
            <mat-grid-tile colspan="5">
                <app-musicplayerbuttons></app-musicplayerbuttons>
            </mat-grid-tile>
            <mat-grid-tile colspan="5">
                <app-musicplayertimer></app-musicplayertimer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

