.container {
  display: flex;
  flex-direction: column;
}

.header {
  /* height: 50px; */
  /* de hoogte niet veranderen dit wordt al gedaan in de navigationbuttons component,
   en anders werkt het drop down niet goed meer */
}

.mainscreen {
  background-color: #cecece;
  height: calc(100vh - 47px - 47px);
  overflow-y: hidden;
  margin: 0 auto;
}

.mainscreen::after {
  content: "";
  display: block;
}

.audioplayer {
  /* height: 50px; */
  /* de hoogte niet veranderen dit wordt al gedaan in de navigationbuttons component */
}

div.invisible {
  display: none;
}

.hide {
  display: none;
}