<div class="container">
    <div class="toprow">
        <app-navigationbuttons></app-navigationbuttons>
    </div>

    <body>
    <div class="mainscreen">
        <h1>testtesttesttesttesttesttesttest</h1>

        <p>testtesttesttesttesttesttesttest</p>
    </div>
    </body>

    <div class="bottomrow">
        <mat-grid-list cols="2" rowHeight="{{desired_rowHeight}}" gutterSize="0">
            <mat-grid-tile>
                <div class="toprow">
                    <app-musicplayerbuttons></app-musicplayerbuttons>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="toprow">
                    <app-musicplayertimer></app-musicplayertimer>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>




