<br>
<img class="mainlogo" src="assets/artistifyLogo.jpg">
<br>
<br>
<p>
    Ben jij een artiest die bekend wil worden, maar heb je geen bergen met geld om reclame te maken? upload dan je album op Artestify!
    <br>
    <br>
    Hier kun je gratis je muziek uploaden zodat vervolgens iedereen over de hele wereld naar je muziek kan luisteren zonder dat ze een abonnement hoeven te kopen!
    <br>
    <br>
    Dit geeft je de kans om beroemd te worden en mogelijk een carriere te beginnen met je muziek!
</p>
