<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="musicbar" id="myMusicbar">
    <a class="active" href="#curSong">"Naam"</a>
    <a href="javascript:void(0);" class="icon">
      <i class="fa fa-backward"></i>
    </a>

    <a href="javascript:void(0);" class="icon" (click)="showFirst=!showFirst">
      <i class="fa fa-play" *ngIf="!showFirst"></i>
      <i class="fa fa-pause" *ngIf="showFirst"></i>
    </a>
    
    <a href="javascript:void(0);" class="icon">
      <i class="fa fa-forward"></i>
    </a>
  </div>
