.container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    grid-gap: 2vh;
    height: 75vh;
    width: 90vw;
    align-items: start;
    overflow-y: scroll;
}

.item {
    min-width: none;
}

.mygridlist {
    height: 100%;
}

 img {
    max-width: 120px;
 }

 