.mygridlist {
    height: 75%;
}

.userText {
    font-size: 3vw;
}

input {
  font-size: large;
  width: 25vw;
}

select {
  font-size: medium;
  width: 25vw;
}

p {
  font-size: large;
  font-weight: bold;
}
