.userText {
    font-size: 3vw;
}

input {
  font-size: large;
  width: 25vw;
}

select {
  font-size: medium;
  width: 25vw;
}

p {
  font-size: large;
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.account-card {
  width: 800px;
  margin-top: 15px;
  height: 250px;
}

.account-card-title {
  text-align: center;
}

.account-card-content {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.account-card-content-wrapper {
  display: flex;
  justify-content: center;
}

.updateForm > div {
  margin-bottom: 15px;
}