<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-card class="viewer">
    <mat-card-title>{{playlist!.title}}</mat-card-title>
    <mat-card-content>
        <div class="viewer-content">
            <div *ngFor="let song of playlist!.songs" class="song">
                <span class="song-media-buttons">
                    <a href="javascript:void(0);" class="icon">
                        <i class="fa fa-play" *ngIf="!state!.playing" (click)="play(song)"></i>
                        <i class="fa fa-pause" *ngIf="state!.playing" (click)="pause()"></i>
                    </a>
                </span>
                <span class="song-title">{{song.title}}</span>
                <span class="song-artists">
                    <div *ngFor="let artist of song.artists; let last = last">
                        {{artist.name}}
                        <span *ngIf="!last">, </span>
                    </div>
                </span>
                <span class="duration">1:00</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>