.viewer {
    width: 1000px;
}

.viewer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .viewer-songs>tr> :not(:first-child) {
    padding-left: 300px;
} */

.song {
    margin-bottom: 10px;
    display: flex;
}

.song-media-buttons {
    width: 20px;
}

.song-title {
    width: 400px;
}

.song-artists {
    display: flex;
    width: 400px;
}