
<mat-grid-list cols="15" class="mygridlist" rowHeight="fit">
    <mat-grid-tile class="maintiles" colspan="5">
        <img class="addimage" src="assets/addimage.png">
    </mat-grid-tile>
    <mat-grid-tile class="maintiles" colspan="5">
        <textarea rows="4" cols="50">
TestTestTestTestTestTest
TestTestTestTestTestTest
TestTestTestTestTestTest
        </textarea>
    </mat-grid-tile>
    <mat-grid-tile class="maintiles" colspan="5">
        <div>
            <div class="container">
                <label class="item">Title </label>
                <br>
                <input class="item" type="titel" placeholder="Enter title" required>
                <br>
                <label class="item">Genre </label>
                <br>
                <input class="item" type="genre" placeholder="Enter genre" required>
                <br>
                <label class="item">Artist </label>
                <br>
                <input class="item" type="artist" placeholder="Enter artist" required>
                <br>
                <label class="item">Releasedate </label>
                <br>
                <input class="item" type="releasedate" placeholder="Enter releasedate" required>
            </div>
            <div class="addsongbuttondiv">
                <br>
                <button class="addsongbutton">Add song</button>
            </div>
            <div class="uploadbuttondiv">
                <button class="uploadbutton">Upload album</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>

