<div class="page-container">
    <div class="album-preview">
        <img [src]="imgURL" *ngIf="imgURL">
        <br>
        <input #file type="file" accept="image/*" (change)="onImageSelect($event); preview(file.files)">
    </div>
    <div class="upload-forms">
        <div class="upload-song-form">
            <form [formGroup]="uploadSongForm">
                <div class="container">
                    <div [style.color]="'white'" *ngIf="errorMsg != ''">{{errorMsg}}</div>

                    <div>
                        <label class="item">Titel</label>
                        <input type="text" formControlName="title" class="item" placeholder="Enter title" required>
                    </div>
                    <div>
                        <label class="item">Artiest</label>
                        <input type="text" formControlName="artist" class="item" placeholder="Enter artist" required>
                    </div>
                    <div>
                        <label class="item">Liedje</label>
                        <input #song class='audioFileInput' type="file" accept="audio/mpeg" (change)="onFileSelected($event)">
                        <button (click)="addSong()">Add song</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="upload-album-form">
            <form [formGroup]="uploadAlbumForm">
                <div class="container">
                    <div [style.color]="'white'" *ngIf="errorMsgg != ''">{{errorMsgg}}</div>
                    <div>
                        <label class="item">Title album </label>
                        <input class="item" type="text" formControlName="title" placeholder="Enter title" required>
                    </div>
                    <div>
                        <label class="item genre-label">Genre album</label>
                        <select class="item" formControlName="genre_id">
                            <option *ngFor="let genre of genres" value="{{genre.id}}">
                                {{genre.title}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label class="item">Artist album</label>
                        <input class="item" type="text" formControlName="artist" placeholder="Enter artist" required>
                    </div>
                    <div>
                        <label class="item">Releasedate album</label>
                        <input class="item" type="date" formControlName="releaseDate" required>
                    </div>
                    <button class="uploadbutton" (click)='upload()'>Upload album</button>
                </div>
            </form>
        </div>
    </div>
    <div class="song-list">
        <table>
            <thead>
                <tr>
                    <th class="songlistTitel">Songs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of uploadedSongs; index as i">
                    <td>{{i+1}}) {{song.title}}</td>
                    <td><button (click)="deleteSong(song)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>