.page-container {
    display: flex;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.page-container > div {
    margin: 50px;
}

/* .album-preview {
    height: 500px;
    width: 500px;
} */

.album-preview > img {
    height: 50vh;
    width: 28vw;
}

.song-list {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    background-color: white;
}

/* .songlist {
    /* min-height: 50vh;
    max-height: calc(100vh - 50px - 50px); */
    /* overflow-y: scroll;
} */

.upload-forms {
    display: flex;
    width: 500px;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.upload-song-form {
    margin-bottom: 20px;
    margin-top: -150px;
}

.container > div {
    margin-bottom: 5px;
}

.audioFileInput {
    margin-bottom: 5px;
}

.genre-label {
    margin-right: 5px;
}

.maintiles {
    position: center;
}

/* img {
    width: 27vw;
} */
 label {
     color: white;
 }

.secondarytiles {
    position: center;
}

input {
    width: 25vw;
}

.addsongbutton {
    height: 30px;
}

.songlistTitel {
    font-size: large;
}

.uploadSongForm {
    margin-bottom: 20px;
}

.uploadAlbumForm {

}