.maintiles {
    position: center;
}

.mygridlist {
    height: 100%;
}

textarea {
    height: 50vh;
}

img {
    width: 27vw;
}
 label {
     color: white;
 }

.secondarytiles {
    position: center;
}

input {
    width: 25vw;
}

.uploadbuttondiv {
    position: fixed;
    bottom: 3rem;
    right: 0;
}

.uploadbutton {
    height: 30px;
    width: 33vw;
}

.addsongbuttondiv {
    justify-content: center;
    align-items: center;
}

.addsongbutton {
    height: 30px;
}