
<mat-grid-list cols="15" class="mygridlist" rowHeight="fit">
    <mat-grid-tile class="tile1" colspan="5">
        <img class="addimage" src="assets/addimage.png">
    </mat-grid-tile>
    <mat-grid-tile class="tile1" colspan="5">
        <textarea rows="4" cols="50">
TestTestTestTestTestTest
TestTestTestTestTestTest
TestTestTestTestTestTest
            </textarea>
    </mat-grid-tile>
    <mat-grid-tile class="tile1" colspan="5">
        <div class="container">
            <input type="titel" placeholder="Enter title" required>
        
            <input type="genre" placeholder="Enter genre" required>
        </div>
    </mat-grid-tile>
</mat-grid-list>

