.container {
    display: flex;
    height: 100%;
    width: 100%;

    background-color: #333;

    justify-content: center;
}

.music-player {
    display: flex;
    background-color: #333;
}

/* Add a black background color to the top navigation */

.media-buttons {
    overflow: hidden;
    margin-right: 15px;
}

/* Style the links inside the navigation bar */

.media-buttons a, button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    background-color: #333;
    border: hidden;
}

/* Change the color of links on hover */

.media-buttons a:active:hover:, button:active:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

/* .media-buttons a.active, button.active {
    background-color: #333;
    color: white;
} */

.slider-currentTime, .slider-duration {
    color: white;
}

.slider-currentTime {
    margin-right: 15px;
}

.slider-duration {
    margin-left: 15px;
}

.slider-container {
    display: flex;
    align-items: center;
}

.slider-progress {
    width: 500px;
}

.media-buttons button:disabled {
    color: grey;
}

.song-title {
    width: 200px;
}