<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class='music-player' [style.visibility]="state!.currentSong ? 'visible' : 'hidden'">
    <div class="media-buttons">
      <a class="active">{{state!.currentSong ? state!.currentSong.song?.title : ""}}</a>
      <button [disabled]="queue | isFirstPlaying: state!.currentSong?.song! | isTrue" class="icon" (click)="previous()">
        <i class="fa fa-backward"></i>
      </button>

      <a class="icon">
        <i class="fa fa-play" *ngIf="!state!.playing" (click)="play()"></i>
        <i class="fa fa-pause" *ngIf="state!.playing" (click)="pause()"></i>
      </a>

      <button [disabled]="queue | isLastPlaying: state!.currentSong?.song! | isTrue" class="icon" (click)="next()">
        <i class="fa fa-forward"></i>
      </button>
    </div>

    <div class="slider-container">
      <div class="slider">
        <span class="slider-currentTime">{{state!.readableCurrentTime ? state!.readableCurrentTime : "00:00:00"}}</span>
        <!-- <mat-slider class="slider-progress" min="0" [max]="state.duration" step="1" [value]="state.currentTime"
          (input)="onSliderChangeEnd($event)"></mat-slider> -->
        <!-- <progress class="slider-progress" [value]="state!.currentTime" [max]="state!.duration"></progress> -->
        <input type="range" class="slider-progress" min="0" [max]="state!.duration | floor"
          [value]="state!.currentTime | floor" (input)="onSliderChangeEnd($event)" />
        <span class="slider-duration">{{state!.readableDuration ? state!.readableDuration : "00:00:00"}}</span>
      </div>
    </div>
  </div>
</div>