<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='music-player'>
    <mat-grid-list cols="10" rowHeight="3rem" gutterSize="0">
        <mat-grid-tile class="bottombar" colspan="5">
            <div class="musicbar" id="myMusicbar">
                <a class="active" href="#curSong">{{currentSong ? currentSong.song.title : ""}}</a>
                <a href="javascript:void(0);" class="icon">
                  <i class="fa fa-backward"></i>
                </a>
            
                <a href="javascript:void(0);" class="icon">
                  <i class="fa fa-play" *ngIf="!state!.playing" (click)="play()"></i>
                  <i class="fa fa-pause" *ngIf="state!.playing" (click)="pause()"></i>
                </a>
                
                <a href="javascript:void(0);" class="icon">
                  <i class="fa fa-forward"></i>
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
            <div class="slider">
                <span class="slider-currentTime">{{state!.readableCurrentTime ? state!.readableCurrentTime : "00:00:00"}}</span>
                <mat-slider class="slider-progress" min="0" [max]="state.duration" step="1" [value]="state.currentTime" (input)="onSliderChangeEnd($event)"></mat-slider>
                <span class="slider-duration">{{state!.readableDuration ? state!.readableDuration : "00:00:00"}}</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>